---
layout: default
---


    <main>


            <aside>
              <img src="{{site.baseurl}}/assets/img/logo.svg" alt="logo">
            
            </aside>
           
             <section>

              <nav>
                <ul>
                  <li><a class="link" href="index">HOME</a></li>
                  <li><a class="link" href="portfolio">PORTFOLIO</a></li>
                </ul>
              </nav>
 
              <div class="name">
                <img id="name" src="{{site.baseurl}}/assets/img/names.svg" alt="Name">
              </div>
             </section>

    </main>
